@define-color bg    #1a1b26;
@define-color fg    #a9b1d6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color orng  #ff9c00;
@define-color brblk #444b6a;
@define-color white #ffffff;


* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 2px;
    color: @cyn;
    background: transparent;
    border-bottom: 2px solid @bg;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 2px solid @mag;
}
#workspaces button.empty {
    color: @white;
}
#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 2px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#wireplumber,
#custom-power,
#tray {
    padding: 0 2px;
    color: @white;
}
#custom-power {
    margin: 0px 12px 0px 0px;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 2px solid @cyn;
}

#battery {
    color: @mag;
    border-bottom: 2px solid @mag;
}

#disk {
    color: @ylw;
    border-bottom: 2px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 2px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 2px solid @grn;
}

#network {
    color: @orng;
    border-bottom: 2px solid @orng;
}

#network.disconnected {
    background-color: @red;
}

#bluetooth {
    color: @blu;
    /*border-bottom: 2px solid @blu;*/
}
/*
#bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}
*/
#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#wireplumber {
    color: @white;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-temp_fan {
    color: @blu;
    border-bottom: 2px solid @blu;
    margin: 0px 0px 0px 0px;
}
#custom-temp {
    color: @red;
    border-bottom: 2px solid @red;
    margin: 0px 0px 0px 0px;
}
#custom-fan {
    color: @blu;
    border-bottom: 2px solid @blu;
    margin: 0px 0px 0px 0px;
}
#tray {
    background-color: #2980b9;
}

